<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.ittimeline.mybatis.practices.spring5.integration.mapper.UserDOMapper">

    <!-- 新增用户-->
<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into t_user(user_name, mobile, email, password, cardNumber, register_ip, register_date, register_resources)
    VALUE (#{userName},#{mobile},#{email},#{password},#{cardNumber},#{registerIp},#{registerDate},#{registerResource})
</insert>

    <!-- 按照条件查找单个用户-->
    <select id="find" parameterType="UserDO" resultType="UserDO">
        select user_id as userId ,user_name as userName, mobile, email, password, cardNumber as cardNumber, register_ip as registerIp, register_date as registerDate, register_resources as registerResources from t_user
        <where>
            <if test="userId != null and userId !=''">
                and user_id=#{userId}
            </if>

            <if test="userName!=null and userName!=''">
                and user_name=#{userName}
            </if>

            <if test="password!=null and password !=''">
                and password=#{password}
            </if>

            <if test="mobile!=null and mobile !=''">
                and mobile=#{mobile}
            </if>
            <if test="email!=null and mobile !=''">
                and email=#{email}
            </if>
        </where>
    </select>


    <update id="update">
        update t_user

        <trim prefix="set" prefixOverrides=",">
            <if test="password !=null and password !=''">
                password=#{password},

            </if>
            <if test="mobile!=null and mobile !=''">
                mobile=#{mobile}
            </if>
        </trim>


        WHERE user_name=#{userName}
    </update>


    <select id="countTotalUser" resultType="java.lang.Long">
        select count(*) from t_user
    </select>







</mapper>